.vs
x64/
ufser.vcxproj.user
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.sub
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
m4
missing
test-driver
.dirstamp
.deps/
.libs/
Doxyfile
libtool
*.o
*.lo
*.la
tests/wany
tests/serialization
tests/*.log
tests/*.trs
tests/test-suite.log

